<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite">
    <listeners>
        <listener class-name="utils.listeners.TestListener"/>
        <listener class-name="utils.listeners.AnnotationTransformer"/>
    </listeners>

    <parameter name="browser" value="Chrome" />
    <test name="Salesforce Application Flow ">
        <classes>

            <class name="TestCase.CaseCreationTest"/>
        </classes>
    </test>
</suite>